.header{
    height: 18em;

    display: flex;
}
.menu1{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: solid 5px #e8a358;
    border-right: solid 3px #e8a358;
    border-bottom-right-radius: 10px;
}

.menu2{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: solid 5px #e8a358;
    border-left: solid 3px #e8a358;
    border-bottom-left-radius: 10px;
}